body{background:#fff;color:#000}

.vco-storymap .vco-note {
    display: block;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: italic;
    background-color: #e6e6e6;
    font-size: 30px;
    line-height: 40px;
    padding: 10px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    color: #fdfdfd;
    background-color: #e9231c;
    border: 1px solid #e9231c
}